#hide {
    cursor: help;
  }
  #img1 {
    margin: auto;
  }
  .input {
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, 
    margin-top 1.0s ease-in-out;
    background: #bbc2ff;
    border: none;
    font-size: 1.0rem;
    margin-top: 0rem;
  }
  #input2 {
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    background: #ffba60;
    border: none;
    font-size: 1.0rem;
  }
  #input2:hover {
    /*color: rgb(227, 255, 102, 1.0); */
    background: #ff9100;
    transform: translateY(0.25rem) translateX(0.15rem);
    box-shadow: 0.1rem 0.1rem 0.1rem black;
  }
  header.nav {
    position: sticky;
    top: 0px;
    display: flex;
    background: -moz-linear-gradient(90deg, rgba(38,172,190,0) 0%, rgba(255,255,255,0.25) 25%, rgba(216,216,216,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(38,172,190,0) 0%, rgba(255,255,255,0.25) 25%, rgba(216,216,216,1) 100%);
    background: -o-linear-gradient(90deg, rgba(38,172,190,0) 0%, rgba(255,255,255,0.25) 25%, rgba(216,216,216,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(38,172,190,0) 0%, rgba(255,255,255,0.25) 25%, rgba(216,216,216,1) 100%);
    background: linear-gradient(0deg, rgba(38,172,190,0) 0%, rgba(255,255,255,0.25) 25%, rgba(216,216,216,1) 100%);
    font-family: Helvetica, sans-serif;
    opacity: 0.85;
    z-index: 5;
    transition: top 0.7s ease-in-out;
    /*box-shadow: inset 0rem -0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    /*clip-path: polygon(
      0 0,
      100% 0,
      100% 84%,
      64% 84%,
      50% 120%,
      36% 84%,
      0% 84%
    ); */
  }
  .title {
    color: black;
    flex: 1;
    text-align: left;
  }
  nav {
    font-weight: 600;
    min-height: 5vh;
    margin: auto;
    margin-right: 05%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    float: right;
  }
  nav ul {
    font-size: 1.5rem;
    flex: 1.3;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  nav li {
    transition: all 0.3s ease-in-out;
  }
  nav li:hover {
  transform: translateY(0.25rem) translateX(0.15rem);
  }
  nav a {
    color: black;
    text-decoration: none;
    /*background: rgba(255, 54, 54, 1); */
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
    transition: all 0.3s ease-in-out;
    text-shadow: 0.05rem 0.05rem 0.1rem #ffff00;
    border: none;
  }
  nav a:hover {
    color: black; 
    /*background: rgb(227, 255, 102, 1.0);  
    background: #5d6dff; */
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(181,188,255,1) 69%, rgba(148,159,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(181,188,255,1) 69%, rgba(148,159,255,1) 100%);
    background: -o-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(181,188,255,1) 69%, rgba(148,159,255,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(181,188,255,1) 69%, rgba(148,159,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(181,188,255,1) 69%, rgba(148,159,255,1) 100%);   
    text-shadow: 0.05rem 0.05rem 0.1rem #ffffff;
    box-shadow: -0.1rem -0.1rem 0.3rem black;
    position: sticky;
    z-index: 6;
    transform: translateY(-0.5rem);
  }
  
  /* nav bar css above ********************************** */
  .outer {
    width: 30rem;
    font-family: Helvetica, sans-serif;
    /*height: 37.5rem; */
    height: 20rem;
    border-radius: 0.625rem;
    border: 2px solid #202020;
    padding: 6px 6px;
    background-color: #202020;
  
    float: right;
    margin-right: 8rem;
    margin-top: 4rem;
  
    display: block;
    text-align: center;
    opacity: 0.5;
    transition: 1s ease-in-out, height 1.0s ease-in-out;
  }
  .outer3 {
    width: 30rem;
    font-family: Helvetica, sans-serif;
    /*height: 37.5rem; */
    height: 32rem;
    border-radius: 0.625rem;
    border: 2px solid #202020;
    padding: 6px 6px;
    padding-top: 24px;
    background-color: #202020;
  
    float: right;
    margin-right: 8rem;
    margin-top: 2rem;
  
    display: block;
    text-align: center;
    opacity: 0.85;
    transition: 1s ease-in-out, height 1.0s ease-in-out;
  
    overflow: hidden;
  }
  .input3 {
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, 
    margin-top 1.0s ease-in-out;
    background: #bbc2ff;
    border: none;
    font-size: 1.0rem;
    margin-top: 13rem;
  }
  .input3:hover {
    /*color: rgb(227, 255, 102, 1.0); */
    background: #7e8bff;
    transform: translateY(0.25rem) translateX(0.15rem);
    box-shadow: 0.1rem 0.1rem 0.1rem black;
  }
  .outer2 {
    display: block;
    text-align: center;
    margin-top: 5rem;
  }
  input#single {
    width: 27rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.0rem;
    color: #c77100;
    border-radius: 0.25rem;
  }
  select {
      font-family: Helvetica, sans-serif;
      border-radius: 8px;
      overflow: auto;
      width:30rem;
      /*height:37.5rem; */
      height: 7rem;
      display: block;
      margin: 0 auto;
      padding: 6px 3px;
      /*background-color: #d8d8d8; */
      background-color: #202020;
      text-align: center;
      /*opacity: 0.5; */
      transition: 0.7s ease-in-out, height 0.5s ease-in-out;
  }
  ::placeholder { 
    color: #5d6dff;
    opacity: 1; /* Firefox */
  }
  .outer2 ::placeholder { 
    color: #c77100;
    opacity: 1; /* Firefox */
  }
  select:hover {
      /*opacity: 0.85; */
      transition: 0.7s ease-in-out;
      height:19.75rem;
    }
  canvas {
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      overflow-y: hidden;
      /*mix-blend-mode: exclusion;*/
      }
  
  body {
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 0;
      /* background-color: #000022; /* backup image */ 
      background-color: #ffffff;
      background-image: url("stars.jpg");
      background-attachment: fixed;
      background-size: cover;
      /*cursor: url("ship6.png"), default; */
    }
  .footer {
    /* box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
    /* custom for footer */
    position: relative;
    transform: translateY(100%);
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5.0rem;
    background: -moz-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(216,216,216,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(216,216,216,1) 100%);
    background: -o-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(216,216,216,1) 100%);
    background: -ms-linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(216,216,216,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(216,216,216,1) 100%);    
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    opacity: 0.75;
    border-radius: .0625rem;
    color: rgb(0, 0, 0);
    z-index: 5;
    transition: bottom 0.6s ease-in-out;
    display: flex;
    margin: auto;
  }
  span.foot {
    color: rgb(255, 255, 255);
    text-shadow: 0.05rem 0.05rem 0.1rem #000000;
    font-weight: 600;
  }
  .footer #counter {
    cursor: default;
    opacity: 1.0;
    width: 16rem;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 3rem;
    padding-top: 1.5rem;
    color: rgb(0, 0, 0);
  }
  .footer #visits {
    padding: 0.25rem 0.5rem;
    border-radius: .0625rem; 
    color: #000000;
    background-color: #ffff00;
    box-shadow: 0.0rem 0.00rem 0.0rem 0.07rem #000000;
  
  }
  #dis {
    width: 50%;
    float: left;
    padding: 0.5rem;
    overflow: auto;
    cursor: default;
    font-weight: 600;
  }
  #links {
    width: 50%;
    float: right;
    padding-left: 10%;
    padding-right: 05%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
  }
  #links ul {
    font-size: 1.1rem;
    flex: 0.6;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #links li {
    transition: all 0.3s ease-in-out;
  }
  #links li:hover {
    transform: translateY(-0.25rem);
  }
  #links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
    transition: all 0.3s ease-in-out;
  }
  #links a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 0.05rem 0.05rem 0.1rem #ffffff; 
  }
  #intro {
    text-align: center;
    text-indent: 3.0rem;
    color: white;
    width: 50%;
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0.25rem 0.25rem 0.1rem #000000;
    cursor: default;
    -webkit-text-stroke: 0.05rem #000000;
  }
  #introHead{
    font-size: 3.25rem;
    padding: 1rem;
    -webkit-text-stroke-width: 0.15rem;
  }

  main {
    /* width: 96%; (hover overflow guard) */
      width: 96%;
      position: relative;
      z-index: 2;
      display: inline-table;
      /* custom for footer */
      min-height: calc(100vh - 12.75rem);
  }
  
  body h1,
  body h2,
  body h3 {
      color: #000000;
  }
  
  optgroup {
    font-size: 150%;
    margin-bottom: 1.0rem;
    margin-top: 0.5rem;
    color: #aa0000;
  }
  
  optgroup > option {
      font-size: 75%;
      color: #5d6dff;
  }
  
  img {
      width: 24rem; 
      /*width: 30%; */
      height: auto;
      padding: 0px;
      opacity: 0.8;
      /* transformed in result.html script  */
      transition: transform 0.08s ease;
      transform-style: preserve-3d;
      will-change: transform;
      
      margin-right: 1.25rem;
      margin-bottom: 1.9rem;
  
      z-index: 3;
    /* round card corners --- & offset box shadows (bottom-right, top-left, all-blend)  */
      border-radius: 1.1rem;
      box-shadow: 7px 6px 6px black, -3px -3px 4px black, 0px 0px 1px 2px black;
    }
    #result {
      margin-top: 4rem;
      margin-bottom: 4rem;
      text-align: center;
      color: rgb(255, 255, 255);
      font-family: Helvetica, sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
      text-shadow: 0.18rem 0.18rem 0.02rem #000000, 0.30rem 0.30rem 0.02rem #ff0000;
      -webkit-text-stroke: 0.03rem #000000; 
      cursor: default;
    }
    img:not(:hover) {
      transition: 0.5s ease;
      z-index: 5;
      } 
    img:hover {
        opacity: 1;
        position: relative;
        z-index: 4; 
    }
  
    img:hover .content {
      transform: translateZ(12px);
    }
    img#frame {
      width: 49.5%; 
      /*width: 30%; */
      height: auto;
      padding: 0px;
      opacity: 1.0;
      /* transformed in result.html script  */
      transition: transform 0.08s ease;
      transform-style: preserve-3d;
      will-change: transform;
      
      margin-right: 0.9rem;
      margin-bottom: 1.9rem;
      margin-top: 0.42rem;
  
      z-index: 3;
    /* round card corners --- & offset box shadows (bottom-right, top-left, all-blend)  */
      border-radius: 1.1rem;
      box-shadow: 7px 6px 6px black, -3px -3px 4px black, 0px 0px 1px 2px black;
    }
    .notFound {
      width: 33%;
      opacity: 0.9;
    }
    span.error {
      color: rgb(0, 0, 0);
      font-family: Helvetica, sans-serif;
      font-size: 1.1rem;
      font-weight: 600;
      text-shadow: 0.12rem 0.10rem 0.01rem #ffffff; 
    }
    @media (prefers-reduced-motion) {
      img {
        transform: none !important;
      }
      .hidden {
        transition: none;
      }
    }
    /*  Contact page   *****************************************************  */
    .contacth1 {
      color: rgb(255, 255, 255);
      font-size: 250%;
      font-weight: 600;
      text-shadow: 0.17rem 0.17rem 0.1rem #000000;
      -webkit-text-stroke: 0.05rem #000000;
      cursor: default;
    }
    .contactForm {
      display: inline-flex;
      flex-direction: column;
      place-items: center;
      width: 36rem;
      gap: 1rem;
      /*background: rgb(50, 50, 50); */
      /*background: #ffffff; */
      /* box-shadow: 7px 6px 10px black, 0px 0px 1px 1px black; */
      border-radius: 10px;
      padding: 2rem;
    }
    /*.contactBody {
      background: #ffffff;
    } */
    .container {
      height: 78.5vh;
      /* background: #4f4d59; /* override star background */
      /*background: #ffffff; */
      font-family: Helvetica, sans-serif;
      display: grid;
      place-items: center;
      margin: 0;
      padding: 0;
      outline: 0;
      border: 0;
    }
    .container ::placeholder { 
      color: #000d83;
      opacity: 1; /* Firefox */
    }
    textarea {
      height: 6rem;
      font-size: 115%;
    }
    .contactOption {
      padding: 2rem;
      /* background: rgb(219, 219, 219); */
      background: #ffffff;
      color: black;
      font-weight: bold;
      box-shadow: 2px 1px 5px black, 0px 0px 1px 1px black;
      width: 28rem;
      place-items: center;
      border-radius: 10px;
      display: inline-table;
    }
    .contactButton {
      width: 10rem;
      padding: 1.4rem;
      cursor: pointer;
      color: rgb(0, 0, 0);
      background: #bbc2ff;
      border: none;
      font-weight: bold;
      font-size: 100%;
      box-shadow: 0px 0px 1px 1px black;
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
    }
    .contactButton:hover {
      transform: translateY(0.25rem) translateX(0.15rem);
      background: #5d6dff;
      box-shadow: 0.1rem 0.1rem 0.1rem black;
    }
    /* Logo animation ************************************************** */
    @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
    .heading {
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 50%;
      float: left;
    }
    .heading h2 {
      color: #fff;
      font-size: 2.5em;
      font-family: Helvetica, sans-serif;
      position: absolute;
      margin-left: 5rem;
      margin-top: 0.5rem;
      padding: 0.5rem;
      display: flex;
      flex-wrap: wrap;
    }
    .heading h2:hover {
      cursor: default;
    }
    .heading h2:nth-child(1) {
      color: #000000;
      -webkit-text-stroke: 0.15rem #000000;
      text-shadow: 0.18rem 0.18rem 0.02rem #ffff00, 0.30rem 0.30rem 0.02rem #000000;
    }
    .heading h2:nth-child(2) {
      color: #0077ff;
      /*color: #ff7b00; */
      animation: animate 3.5s ease-in-out infinite;
    }
    
    @keyframes animate {
      0%,
      100% {
        clip-path: polygon(
          0% 45%,
          16% 44%,
          33% 50%,
          54% 60%,
          70% 61%,
          84% 59%,
          100% 52%,
          100% 100%,
          0% 100%
        );
      }
    
      50% {
        clip-path: polygon(
          0% 60%,
          15% 65%,
          34% 66%,
          51% 62%,
          67% 50%,
          84% 45%,
          100% 46%,
          100% 100%,
          0% 100%
        );
      }
    }
    /* Text fade in animation ************************************************** */
    .hidden {
      opacity: 0;
      filter: blur(3px);
      transform: translateX(-100%);
      transition: all 0.75s;
    }
    .hidden2 {
      opacity: 0;
      filter: blur(3px);
      transform: translateX(100%);
      transition: all 0.75s;
    }
    .show {
      opacity: 1;
      filter: blur(0);
      transform: translateX(0);
    }
    /* About page css ************************************************** */
    h4 {
      font-size: 2rem;
      font-weight: 600;
      text-shadow: 0.25rem 0.25rem 0.1rem #000000;
    }
    #about {
      text-align: center;
      text-indent: 3.5rem;
      color: white;
      float: right;
      font-family: Helvetica, sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      border-radius: 0.625rem;
      text-shadow: 0.25rem 0.25rem 0.1rem #000000;
      cursor: default;
  
      width: 50%;
      height: 100%;
      border: 2px solid #d8d8d8;
      padding: 1rem 1rem;
      background: #202020;
      margin-right: 8rem;
      display: block;
      opacity: 0.9;
      transition: 1s ease-in-out;
    }
    #about:hover {
      opacity: 1.0;
    }
    .hidden2 a:visited {
      color:white;
    }
    .hidden2:nth-child(1) {
      transition-delay: 0ms;
    }
    .hidden2:nth-child(2) {
      transition-delay: 200ms;
    }
    .hidden2:nth-child(3) {
      transition-delay: 400ms;
    }
    .hidden2:nth-child(4) {
      transition-delay: 600ms;
    }
    i {
      font-size: 3.5rem;
      padding: 0rem 0.2rem;
    }
    img.logo {
      width: 3.0rem; 
      height: auto;
      padding: 0rem 0.3rem;
      opacity: 1.0;
      /* transformed in result.html script  */
      transition: none;
      transform-style: none;
      will-change: none;
      margin-right: 0rem;
      margin-bottom: 0rem;
      z-index: 3;
      border-radius: 0rem;
      box-shadow: none;
    }
    /* New Loading cards ******************************************************* */
    .wait {
      opacity: 0.0;
      font-size: 1.5rem;
      text-align: center;
      justify-content: center;
      place-items: center;
      position: absolute;
      top: 50%;
      left: 33%;
      color: #ffffff;
      font-family: Helvetica, sans-serif;
      font-weight: 600;
      border-radius: 0.625rem;
      text-shadow: 0.25rem 0.25rem 0.1rem #000000;
      cursor: default;
      transition: all 0.3s ease-in-out;
    }
    .show2 {
      opacity: 1;
      filter: blur(3px);
    }
    .loading2 {
      display: flex;
      justify-content: center;
    }
    .loading2::after {
      content: "";
      width: 5rem;
      height: 5rem;
      border: 0.5rem solid transparent;
      border-bottom-color: #eeeeee;
      border-right-color: #eeeeee;
      box-shadow: 0.1rem 0.1rem 0.1rem #000000;
      border-radius: 50%;
      animation: loading 2.0s ease-in-out infinite alternate;
    }
    @keyframes loading {
      to {
        transform: rotate(2.25turn);
      }
    }