#hide {
  cursor: help;
}
#img1 {
  margin: auto;
}
#input {
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  background: #bbc2ff;
  font-size: 85%;
}
#input:hover {
  /*color: rgb(227, 255, 102, 1.0); */
  background: #5d6dff;
  color: white;
  transform: scale(1.2, 1.1);
  text-shadow: 0.05rem 0.05rem 0.1rem #000000;
}
header.nav {
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0px;
  display: flex;
  background: #d8d8d8;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.85;
  z-index: 5;
  transition: top 0.6s ease-in-out;
}
.title {
  color: black;
  flex: 1;
  text-align: left;
}
nav {
  font-weight: 600;
  min-height: 5vh;
  margin: auto;
  margin-right: 05%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  width: 50%;
  float: right;
}
nav ul {
  font-size: 1.5rem;
  flex: 1.3;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: black;
  text-decoration: none;
  /*background: rgba(255, 54, 54, 1); */
  border-radius: 0.9rem;
  padding: 0.9rem 0.9rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-shadow: 0.05rem 0.05rem 0.1rem #ffbb00;
}
nav a:hover {
  color: white; 
  /*background: rgb(227, 255, 102, 1.0);  */
  background: #5d6dff;
  text-shadow: 0.05rem 0.05rem 0.1rem #000000;
  box-shadow: 0.1rem 0.1rem 0.3rem black;
}

/* nav bar css above ********************************** */
.outer {
  width: 37.5rem;
  height: 37.5rem;
  border-radius: 0.625rem;
  border: 2px solid #d8d8d8;
  padding: 4px 0px;
  background: #d8d8d8;

  float: right;
  margin-right: 8rem;

  display: block;
  text-align: center;
  opacity: 0.5;
  transition: 1s ease-in-out;
}
.outer:hover {
  opacity: 0.85;
  transition: 1s ease-in-out;
}
select {
    border-radius: 8px;
    overflow: auto;
    width:600px;
    height:600px;
    display: block;
    margin: 0 auto;
    background-color: #d8d8d8; 
    text-align: center;
    /*opacity: 0.5; */
    transition: 0.7s ease-in-out;
}
select:hover {
    /*opacity: 0.85; */
    transition: 0.7s ease-in-out;
  }

canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    overflow-y: hidden;
    /*mix-blend-mode: exclusion;*/
    }

body {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-color: #000022; /* backup image */ 
    background-color: #ffffff;
    background-image: url("stars.jpg");
    background-attachment: fixed;
    background-size: cover;
    /*cursor: url("ship6.png"), default; */
    }
.footer {
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  /* custom for footer */
  transform: translateY(100%);
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background: #d8d8d8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.75;
  border-radius: .0625rem;
  color: rgb(92, 92, 92);
  z-index: 5;
  transition: bottom 0.6s ease-in-out;
  display: flex;
  margin: auto;
}
#dis {
  width: 50%;
  float: left;
  padding: 0.5rem;
  overflow: auto;
  cursor: default;
}
#links {
  width: 50%;
  float: right;
  padding-left: 10%;
  padding-right: 05%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}
#links ul {
  font-size: 1.1rem;
  flex: 0.6;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#links a {
  color: rgb(92, 92, 92);
  text-decoration: none;
  border-radius: 0.9rem;
  padding: 0.9rem 0.9rem;
}
#links a:hover {
  color: rgb(0, 0, 0);
  text-shadow: 0.05rem 0.05rem 0.1rem #ffffff;
}
#intro {
  text-align: center;
  color: white;
  width: 50%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  border-radius: 0.625rem;
  text-shadow: 0.25rem 0.25rem 0.1rem #000000;
  cursor: default;
}
main {
  /* width: 96%; (hover overflow guard) */
    width: 96%;
    position: relative;
    z-index: 2;
    display: inline-table;
    /* custom for footer */
    min-height: calc(100vh - 12.75rem);
}

body h1,
body h2,
body h3 {
    color: #000000;
}

optgroup {
  font-size: 150%;
  margin-bottom: 1.0rem;
  margin-top: 0.5rem;
  color: #aa0000;
}

optgroup > option {
    font-size: 75%;
    color: black;
}

img {
    width: 24rem; 
    /*width: 30%; */
    height: auto;
    padding: 0px;
    opacity: 0.8;
    /* transformed in result.html script  */
    transition: transform 0.08s ease;
    transform-style: preserve-3d;
    will-change: transform;
    
    margin-right: 1.25rem;
    margin-bottom: 1.9rem;

    z-index: 3;
  /* round card corners --- & offset box shadows (bottom-right, top-left, all-blend)  */
    border-radius: 1.1rem;
    box-shadow: 7px 6px 6px black, -3px -3px 4px black, 0px 0px 1px 2px black;

  }
  #result {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  img:not(:hover) {
    transition: 0.5s ease;
    z-index: 5;
    } 
  img:hover {
      opacity: 1;
      position: relative;
      z-index: 4; 
  }

  img:hover .content {
    transform: translateZ(12px);
  }

  @media (prefers-reduced-motion) {
    img {
      transform: none !important;
    }
  }
 
  /*   loading test *************************************************************************************************   */
  #loading {
    position: relative;
    width: 100%;
    height: 60vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: changeColor 0s linear infinite;

    z-index: 10;

  }
  @keyframes changeColor {
    0%
    {
      filter: hue-rotate(300deg);
    }
    50%
    {
      filter: hue-rotate(420deg);
    }
    100%
    {
      filter: hue-rotate(300deg);
    }
  }
  section h2 {
    color:#bcffbe;
    /* box-shadow: 0px 0px 5px #ffffff; */
    font-family: consolas;
    font-weight: 300;
    letter-spacing: 5px;
  }
  section .loader {
    position: relative;
    display: flex;
  }
  section .loader .dot {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a,
                0 0 10px #00ff0a;
    margin: 20px 10px;
    transform: scale(0.1); 
    border-radius: 50%;
    animation: animateDot 2.6s linear infinite;
    animation-delay: calc(0.13s * var(--i));
  }
  @keyframes animateDot {
    0%
    {
      transform: scale(0.1);
    }
    10% 
    {
      transform: scale(1);
    }
    50%,100%
    {
      transform: scale(0.1);
    }
  }
  section .loader:last-child .dot {
    animation-delay: calc(-0.16s * var(--i));
  }

  button {
    position: absolute;
    top: 60%;
    left: 50%;
    margin: auto;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
    
    z-index: 15;  
  }

  /*  Contact page   *****************************************************  */
  .contacth1 {
    color: black;
    font-size: 250%;
    font-weight: 600;
    text-shadow: 0.17rem 0.17rem #c4c4c4;
    cursor: default;
  }
  .contactForm {
    display: inline-flex;
    flex-direction: column;
    place-items: center;
    width: 36rem;
    gap: 1rem;
    /*background: rgb(50, 50, 50); */
    background: #ffffff;
    /* box-shadow: 7px 6px 10px black, 0px 0px 1px 1px black; */
    border-radius: 10px;
    padding: 2rem;
  }
  .contactBody {
    background: #ffffff;
  }
  .container {
    height: 80vh;
    /* background: #4f4d59; /* override star background */
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
  }
  textarea {
    height: 6rem;
    font-size: 115%;
  }
  .contactOption {
    padding: 2rem;
    /* background: rgb(219, 219, 219); */
    background: #ffffff;
    color: black;
    font-weight: bold;
    box-shadow: 4px 3px 10px black, 0px 0px 1px 1px black;
    width: 28rem;
    place-items: center;
    border-radius: 10px;
    display: inline-table;
  }
  .contactButton {
    width: 10rem;
    padding: 1.4rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: #bbc2ff;
    font-weight: bold;
    font-size: 100%;
    box-shadow: 4px 3px 10px black, 0px 0px 1px 1px black;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  }
  .contactButton:hover {
    transform: scale(1.1, 1.05);
    background: #5d6dff;
    color: white;
    text-shadow: 0.05rem 0.05rem 0.1rem #000000;
  }
  /* Logo animation ************************************************** */
  @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
  .heading {
    position: static;
    overflow: auto;
    width: 50%;
    float: left;
  }
  .heading h2 {
    color: #fff;
    font-size: 2.5em;
    font-family: "Poppins", sans-serif;
    position: absolute;
    margin-left: 5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
  .heading h2:hover {
    cursor: default;
  }
  .heading h2:nth-child(1) {
    color: #ffff00;
    -webkit-text-stroke: 0.15rem #ff7b00;
    text-shadow: 0.25rem 0.25rem 0.15rem #000000;
  }
  .heading h2:nth-child(2) {
    color: #ff7b00;
    animation: animate 3.5s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }