select {
    width:600px;
    height:600px;
    display: block;
    margin: 0 auto;
    background-color: #d8d8d8; 
    text-align: center;
    opacity: 0.9;
}

select:hover {
    opacity: 0.8;
    transition: 1s ease-in-out;
  }

canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    overflow-y: hidden;
    /*mix-blend-mode: exclusion;*/
    }

body {
    text-align: center;
    margin: 0;
    /* background-color: #000022; /* backup image */ 
    background-color: #000000;
    background-image: url("stars.jpg"); 
    background-attachment: fixed;
    background-size: cover;
    }

main {
    position: relative;
    z-index: 2;
}

h1,
h2 {
    color: #ffffff;
}

optgroup {
    font-size: 150%;
}

optgroup > option {
    font-size: 75%;
}

img {
    padding: 5px;
    opacity: 0.8;
    /* transformed in result.html script  */
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
    
    z-index: 3;
}

img:hover {
    opacity: 1;
    /* transition: .9s ease-in-out;  */
    position: relative;

    z-index: 4; 
  }

  img:hover .content {
    transform: translateZ(12px);
  }
