select {
    width:600px;
    height:600px;
    display: block;
    margin: 0 auto;
    background-color: #d8d8d8; 
    text-align: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    overflow-y: hidden;
    /*mix-blend-mode: exclusion;*/
    }

body {
    text-align: center;
    margin: 0;
    /* background-color: #000022; /* backup image */ 
    background-color: #000000;
    background-image: url("stars.jpg"); 
    background-attachment: fixed;
    background-size: cover;
    }

main {
    position: relative;
    z-index: 2;
}

h1,
h2 {
    color: #ffffff;
}

optgroup {
    font-size: 150%;
}

optgroup > option {
    font-size: 75%;
}

img {
    padding: 5px;
}