{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- favicon image -->
        <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>

		<!-- style.css file -->
        <link rel="stylesheet" type="text/css"  media="screen" href="{% static 'style.css' %}"/>

        <!-- standardized icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<meta http-equiv='cache-control' content='no-cache'>
		<meta http-equiv='expires' content='0'>
		<meta http-equiv='pragma' content='no-cache'>

		
		<title>Cards test</title>	
	</head>

	<body id="body">
		<!-- sticky navigation bar -->
		<span class="boxShadow">
		<header class="nav">
			<div class="heading">
				<h2>Cardboard in Space</h2>
				<h2>Cardboard in Space</h2>
			</div>
			<nav>

				<ul>
					<li><a data-page="home" href="{% url 'test' %}">Home</a></li>
					<li><a data-page="about" href="{% url 'about' %}">About</a></li>
					<li><a data-page="contact" href="{% url 'contact' %}">Contact</a></li>
					<li><a id="hide">Background</a></li>
				</ul>
			</nav>
		</header>
		</span>

			<!-- Hide/unhide background-->
		<script>

			document.addEventListener('DOMContentLoaded', function() {
	
				// name search example :  https://api.scryfall.com/cards/named?exact=doom+blade
	
				document.getElementById('hide').onclick = () => {
						// hide/unhide canvas
						let x = document.getElementById("bg");
						let y = document.getElementById("body");
						if (x.style.display == "none") {
							x.style.display = "block";
							y.style.backgroundImage = 'url("{% static 'stars.jpg' %}")';

							audioSun.muted = false;
							audioFire.muted = false;
						}
						else {
							x.style.display = "none";
							y.style.backgroundImage = "none";

							audioSun.muted = true;
							audioFire.muted = true;
			
						}
					}
				});
		</script>

		<!-- force reload on "back button" to ensure object.model data reload -->
		<script type="module">

            window.addEventListener( "pageshow", function ( event ) {
			    if (performance.navigation.type == 2){
				    location.reload(true);
					document.getElementById('form').reset();
			    }
            });

		</script>

		<script>
			// image 3D effect on hover scripting
			
			// function to add hover effects after all img's added
			//document.addEventListener('scroll', function() {
			//var hover = function () {	
			function hover() {
				document.querySelectorAll('img').forEach(item => {
					item.addEventListener('mousemove', handleHover, false)
				})
	
				document.querySelectorAll('img').forEach(item => {
					item.addEventListener('mouseleave', resetStyles, false)
				})

			}


				// hover angle threshold
				const THRESHOLD = 6;
	
	
				function handleHover(e) {
					const { clientX, clientY, currentTarget } = e;
					const { clientWidth, clientHeight, offsetLeft, offsetTop } = currentTarget;
	
					const horizontal = (clientX - offsetLeft) / clientWidth;
					// added -window.scrollY to fix distortin on scroll
					const vertical = (clientY - (offsetTop - window.scrollY)) / clientHeight;
	
					// this can be positive or negative to reverse the dynamic 3d (hover) effect
					const rotateX = -(THRESHOLD / 2 - horizontal * THRESHOLD).toFixed(2);
					const rotateY = -(vertical * THRESHOLD - THRESHOLD / 2).toFixed(2);
	
					this.style.transform =
					`perspective(${clientWidth}px) rotateX(${rotateY}deg) rotateY(${rotateX}deg) scale3d(1.18, 1.18, 1.18)`;
				}
	
				function resetStyles(e) {
					this.style.zIndex = "10";
					this.style.transform =
					`perspective(${e.currentTarget.clientWidth}px) rotateX(0deg) rotateY(0deg)`;
				}
			
	
		</script>

		<canvas id="bg"></canvas>

		<main>
		<p></p>

		<!-- added style margin top to prevent overflow on hover of top row -->
		<div id="result"></div>

	<!-- base three.js files -->
	<script type="module" src="{% static 'three/three.js' %}"></script>

	<!-- (three) js for object 1 
	<script type="module" src="{% static 'object1.js' %}"></script> -->

	<!-- Orbit camera around objects (not currently used)
	<script type="module" src="{% static 'three/OrbitControls.js' %}"></script> -->

	<!--
	<script type="module" src="{% static 'three/EffectComposer.js' %}"></script>
	<script type="module" src="{% static 'three/RenderPass.js' %}"></script>
	<script type="module" src="{% static 'three/UnrealBloomPass.js' %}"></script>
	<script type="module" src="{% static 'three/AfterimagePass.js' %}"></script>  -->

	<!-- shader scripts  ***********************************************************************************  
	<div id="shaders1">
	</div>
	<script>
		(function loadXMLDoc() {
		  var xhttp = new XMLHttpRequest();
		  xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
			  document.getElementById("shaders1").innerHTML =
			  this.responseText;
			}
		  };
		  xhttp.open("GET", "{% static 'shaders/vertex.glsl' %}", true);
		  xhttp.send();
		  xhttp.open("GET", "{% static 'shaders/fragment.glsl' %}", true);
		  xhttp.send();
		}());
	</script>
	-->
	<script type="x-shader/x-vertex" id="vertexShader">

		vec4 mod289(vec4 x) {
			return x - floor(x * (1.0 / 289.0)) * 289.0; }
		
			float mod289(float x) {
			return x - floor(x * (1.0 / 289.0)) * 289.0; }
		
			vec4 permute(vec4 x) {
				return mod289(((x*34.0)+10.0)*x);
			}
		
			float permute(float x) {
				return mod289(((x*34.0)+10.0)*x);
			}
		
			vec4 taylorInvSqrt(vec4 r)
			{
			return 1.79284291400159 - 0.85373472095314 * r;
			}
		
			float taylorInvSqrt(float r)
			{
			return 1.79284291400159 - 0.85373472095314 * r;
			}
		
			vec4 grad4(float j, vec4 ip)
			{
			const vec4 ones = vec4(1.0, 1.0, 1.0, -1.0);
			vec4 p,s;
		
			p.xyz = floor( fract (vec3(j) * ip.xyz) * 7.0) * ip.z - 1.0;
			p.w = 1.5 - dot(abs(p.xyz), ones.xyz);
			s = vec4(lessThan(p, vec4(0.0)));
			p.xyz = p.xyz + (s.xyz*2.0 - 1.0) * s.www; 
		
			return p;
			}
									
			// (sqrt(5) - 1)/4 = F4, used once below
			#define F4 0.309016994374947451
		
			float snoise(vec4 v)
			{
			const vec4  C = vec4( 0.138196601125011,  // (5 - sqrt(5))/20  G4
									0.276393202250021,  // 2 * G4
									0.414589803375032,  // 3 * G4
								-0.447213595499958); // -1 + 4 * G4
		
			// First corner
			vec4 i  = floor(v + dot(v, vec4(F4)) );
			vec4 x0 = v -   i + dot(i, C.xxxx);
		
			// Other corners
		
			// Rank sorting originally contributed by Bill Licea-Kane, AMD (formerly ATI)
			vec4 i0;
			vec3 isX = step( x0.yzw, x0.xxx );
			vec3 isYZ = step( x0.zww, x0.yyz );
			//  i0.x = dot( isX, vec3( 1.0 ) );
			i0.x = isX.x + isX.y + isX.z;
			i0.yzw = 1.0 - isX;
			//  i0.y += dot( isYZ.xy, vec2( 1.0 ) );
			i0.y += isYZ.x + isYZ.y;
			i0.zw += 1.0 - isYZ.xy;
			i0.z += isYZ.z;
			i0.w += 1.0 - isYZ.z;
		
			// i0 now contains the unique values 0,1,2,3 in each channel
			vec4 i3 = clamp( i0, 0.0, 1.0 );
			vec4 i2 = clamp( i0-1.0, 0.0, 1.0 );
			vec4 i1 = clamp( i0-2.0, 0.0, 1.0 );
		
			//  x0 = x0 - 0.0 + 0.0 * C.xxxx
			//  x1 = x0 - i1  + 1.0 * C.xxxx
			//  x2 = x0 - i2  + 2.0 * C.xxxx
			//  x3 = x0 - i3  + 3.0 * C.xxxx
			//  x4 = x0 - 1.0 + 4.0 * C.xxxx
			vec4 x1 = x0 - i1 + C.xxxx;
			vec4 x2 = x0 - i2 + C.yyyy;
			vec4 x3 = x0 - i3 + C.zzzz;
			vec4 x4 = x0 + C.wwww;
		
			// Permutations
			i = mod289(i); 
			float j0 = permute( permute( permute( permute(i.w) + i.z) + i.y) + i.x);
			vec4 j1 = permute( permute( permute( permute (
						i.w + vec4(i1.w, i2.w, i3.w, 1.0 ))
					+ i.z + vec4(i1.z, i2.z, i3.z, 1.0 ))
					+ i.y + vec4(i1.y, i2.y, i3.y, 1.0 ))
					+ i.x + vec4(i1.x, i2.x, i3.x, 1.0 ));
		
			// Gradients: 7x7x6 points over a cube, mapped onto a 4-cross polytope
			// 7*7*6 = 294, which is close to the ring size 17*17 = 289.
			vec4 ip = vec4(1.0/294.0, 1.0/49.0, 1.0/7.0, 0.0) ;
		
			vec4 p0 = grad4(j0,   ip);
			vec4 p1 = grad4(j1.x, ip);
			vec4 p2 = grad4(j1.y, ip);
			vec4 p3 = grad4(j1.z, ip);
			vec4 p4 = grad4(j1.w, ip);
		
			// Normalise gradients
			vec4 norm = taylorInvSqrt(vec4(dot(p0,p0), dot(p1,p1), dot(p2, p2), dot(p3,p3)));
			p0 *= norm.x;
			p1 *= norm.y;
			p2 *= norm.z;
			p3 *= norm.w;
			p4 *= taylorInvSqrt(dot(p4,p4));
		
			// Mix contributions from the five corners
			vec3 m0 = max(0.6 - vec3(dot(x0,x0), dot(x1,x1), dot(x2,x2)), 0.0);
			vec2 m1 = max(0.6 - vec2(dot(x3,x3), dot(x4,x4)            ), 0.0);
			m0 = m0 * m0;
			m1 = m1 * m1;
			return 49.0 * ( dot(m0*m0, vec3( dot( p0, x0 ), dot( p1, x1 ), dot( p2, x2 )))
						+ dot(m1*m1, vec2( dot( p3, x3 ), dot( p4, x4 ) ) ) ) ;
		
			}
			// ******************************************************************************************************** noise above

		/* uniform float time;
		varying vec2 vUv;
		varying vec3 vPosition;
		uniform vec2 pixels;
		float PI = 3.141592653589793238; */
		varying vec2 vertexUV;
		uniform float time;
		varying vec3 vPos;
		varying vec3 eyeVector;
		varying vec3 vNormal;
	
	
		//varying vec2 vUv;
		void main () {
			vertexUV = uv;
			vPos = position;
			// warp sphere
			float uFrequency = 10.0;
			float uStrength = 0.9;
			float noiseStrength = snoise(vec4(position * uFrequency, time * 0.35)) * uStrength;
			vPos += normal * noiseStrength;

			vec4 viewPosition = viewMatrix * vec4(vPos, 1.0);
			// fresnal
			vNormal = normal;
			vec4 worldPosition = modelMatrix * vec4( position, 1.0);
			eyeVector = normalize(worldPosition.xyz - cameraPosition);
	
			// gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
			//vec4 mvPosition = modelViewMatrix * vec4( position, 1. );
			//gl_PointSize = size*5. * ( 1. / - myPosition.z );
			//gl_PointSize = 50. * ( 1. / - myPosition.z );
			//gl_PointSize = size*10. ;
	
			//gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0);
			gl_Position = projectionMatrix * viewPosition;
		}
	
	</script>

	<script type="x-shader/x-fragment" id="fragmentShader">

		/* uniform float time;
		uniform float progress;
		uniform sampler2D texture1;
		uniform vec4 resolution;
		varying vec2 vUv;
		varying vec3 vPosition;
		float PI = 3.141592653589793238; */
		
		//
		// Description : Array and textureless GLSL 2D/3D/4D simplex 
		//               noise functions.
		//      Author : Ian McEwan, Ashima Arts.
		//  Maintainer : stegu
		//     Lastmod : 20110822 (ijm)
		//     License : Copyright (C) 2011 Ashima Arts. All rights reserved.
		//               Distributed under the MIT License. See LICENSE file.
		//               https://github.com/ashima/webgl-noise
		//               https://github.com/stegu/webgl-noise
		// 
	
		vec4 mod289(vec4 x) {
		return x - floor(x * (1.0 / 289.0)) * 289.0; }
	
		float mod289(float x) {
		return x - floor(x * (1.0 / 289.0)) * 289.0; }
	
		vec4 permute(vec4 x) {
			return mod289(((x*34.0)+10.0)*x);
		}
	
		float permute(float x) {
			return mod289(((x*34.0)+10.0)*x);
		}
	
		vec4 taylorInvSqrt(vec4 r)
		{
		return 1.79284291400159 - 0.85373472095314 * r;
		}
	
		float taylorInvSqrt(float r)
		{
		return 1.79284291400159 - 0.85373472095314 * r;
		}
	
		vec4 grad4(float j, vec4 ip)
		{
		const vec4 ones = vec4(1.0, 1.0, 1.0, -1.0);
		vec4 p,s;
	
		p.xyz = floor( fract (vec3(j) * ip.xyz) * 7.0) * ip.z - 1.0;
		p.w = 1.5 - dot(abs(p.xyz), ones.xyz);
		s = vec4(lessThan(p, vec4(0.0)));
		p.xyz = p.xyz + (s.xyz*2.0 - 1.0) * s.www; 
	
		return p;
		}
								
		// (sqrt(5) - 1)/4 = F4, used once below
		#define F4 0.309016994374947451
	
		float snoise(vec4 v)
		{
		const vec4  C = vec4( 0.138196601125011,  // (5 - sqrt(5))/20  G4
								0.276393202250021,  // 2 * G4
								0.414589803375032,  // 3 * G4
							-0.447213595499958); // -1 + 4 * G4
	
		// First corner
		vec4 i  = floor(v + dot(v, vec4(F4)) );
		vec4 x0 = v -   i + dot(i, C.xxxx);
	
		// Other corners
	
		// Rank sorting originally contributed by Bill Licea-Kane, AMD (formerly ATI)
		vec4 i0;
		vec3 isX = step( x0.yzw, x0.xxx );
		vec3 isYZ = step( x0.zww, x0.yyz );
		//  i0.x = dot( isX, vec3( 1.0 ) );
		i0.x = isX.x + isX.y + isX.z;
		i0.yzw = 1.0 - isX;
		//  i0.y += dot( isYZ.xy, vec2( 1.0 ) );
		i0.y += isYZ.x + isYZ.y;
		i0.zw += 1.0 - isYZ.xy;
		i0.z += isYZ.z;
		i0.w += 1.0 - isYZ.z;
	
		// i0 now contains the unique values 0,1,2,3 in each channel
		vec4 i3 = clamp( i0, 0.0, 1.0 );
		vec4 i2 = clamp( i0-1.0, 0.0, 1.0 );
		vec4 i1 = clamp( i0-2.0, 0.0, 1.0 );
	
		//  x0 = x0 - 0.0 + 0.0 * C.xxxx
		//  x1 = x0 - i1  + 1.0 * C.xxxx
		//  x2 = x0 - i2  + 2.0 * C.xxxx
		//  x3 = x0 - i3  + 3.0 * C.xxxx
		//  x4 = x0 - 1.0 + 4.0 * C.xxxx
		vec4 x1 = x0 - i1 + C.xxxx;
		vec4 x2 = x0 - i2 + C.yyyy;
		vec4 x3 = x0 - i3 + C.zzzz;
		vec4 x4 = x0 + C.wwww;
	
		// Permutations
		i = mod289(i); 
		float j0 = permute( permute( permute( permute(i.w) + i.z) + i.y) + i.x);
		vec4 j1 = permute( permute( permute( permute (
					i.w + vec4(i1.w, i2.w, i3.w, 1.0 ))
				+ i.z + vec4(i1.z, i2.z, i3.z, 1.0 ))
				+ i.y + vec4(i1.y, i2.y, i3.y, 1.0 ))
				+ i.x + vec4(i1.x, i2.x, i3.x, 1.0 ));
	
		// Gradients: 7x7x6 points over a cube, mapped onto a 4-cross polytope
		// 7*7*6 = 294, which is close to the ring size 17*17 = 289.
		vec4 ip = vec4(1.0/294.0, 1.0/49.0, 1.0/7.0, 0.0) ;
	
		vec4 p0 = grad4(j0,   ip);
		vec4 p1 = grad4(j1.x, ip);
		vec4 p2 = grad4(j1.y, ip);
		vec4 p3 = grad4(j1.z, ip);
		vec4 p4 = grad4(j1.w, ip);
	
		// Normalise gradients
		vec4 norm = taylorInvSqrt(vec4(dot(p0,p0), dot(p1,p1), dot(p2, p2), dot(p3,p3)));
		p0 *= norm.x;
		p1 *= norm.y;
		p2 *= norm.z;
		p3 *= norm.w;
		p4 *= taylorInvSqrt(dot(p4,p4));
	
		// Mix contributions from the five corners
		vec3 m0 = max(0.6 - vec3(dot(x0,x0), dot(x1,x1), dot(x2,x2)), 0.0);
		vec2 m1 = max(0.6 - vec2(dot(x3,x3), dot(x4,x4)            ), 0.0);
		m0 = m0 * m0;
		m1 = m1 * m1;
		return 49.0 * ( dot(m0*m0, vec3( dot( p0, x0 ), dot( p1, x1 ), dot( p2, x2 )))
					+ dot(m1*m1, vec2( dot( p3, x3 ), dot( p4, x4 ) ) ) ) ;
	
		}
		// ******************************************************************************************************** noise above
	
		// layers of noise
		float fbm(vec4 p){
	
			float sum = 0.;
			float amp = 1.;
			float scale = 1.;
			for(int i = 0; i < 7; i ++) {
				sum += snoise(p *scale) *amp;
				p.w += 100.;
				amp *= 0.9;
				scale *= 2.2;
			}
			return sum;
		} 

		vec3 brightnessToColor(float b) {
			b *= 0.25;
			return (vec3(b, b*b, b*b*b*b)/0.25)*0.8;
		}

		float Fresnel(vec3 eyeVector, vec3 worldNormal) {
			return pow( 1.0 + dot( eyeVector, worldNormal), 3.0 );
		}
	
		uniform float time;
		varying vec2 vertexUV; 
		varying vec3 vPos;
		varying vec3 vNormal;
		varying vec3 eyeVector;

		void main() {
			//vec4 v = vec4(0.5, 0.5, 1., 1.);
			// vec2 newUV = (vUv - vec2(0.5)) * resolution.zw + vec2(0.5);
			//gl_FragColor = vec4(vUv*, 0.0, 1.);

			// BASE
			//vec4 p = vec4(vPos/35., time *0.03);
			vec4 p = vec4(vNormal*08., time *0.03);
			float noisy = fbm(p);
			
			//gl_FragColor = vec4(noisy); 

			// SPOTS
			vec4 p1 = vec4(vertexUV/10., 0.05, 1.);
			float spots = min(snoise(p1), 1.);

			//gl_FragColor *= mix(0., spots, 0.7);

			// Color
			float brightness = noisy * mix(0., spots, 0.8);
			brightness = brightness*3. + 1.2;

			//fresnel
			//float fres = (Fresnel(eyeVector, vNormal))*(time*0.02);
			float fres = (Fresnel(eyeVector, vNormal));
			brightness += pow(fres, 0.4);

			vec3 col = brightnessToColor(brightness);
			gl_FragColor = vec4(col, 1.);


			// START
			//gl_FragColor = vec4(vertexUV, 0., time);  

			//float noisy = snoise(vec4(vPos/50., time));
			//gl_FragColor = vec4(noisy);

			//gl_FragColor = vec4(vec3(0.7, 0.5, 0.) + texture2D(globeTexture, vertexUV).xyz, 1.0);
			//float noisy = snoise(vec4(vec3(0.7, 0.5, 0.) + texture2D(globeTexture, vertexUV).xyz, 1.0));
			//gl_FragColor = vec4(vPos, 1.);

	
		}
	
	</script> 
	

	<!-- GLOW *********************************************************** -->
	<script type="x-shader/x-vertex" id="vertexShaderGlow">
		vec4 mod289(vec4 x) {
			return x - floor(x * (1.0 / 289.0)) * 289.0; }
		
			float mod289(float x) {
			return x - floor(x * (1.0 / 289.0)) * 289.0; }
		
			vec4 permute(vec4 x) {
				return mod289(((x*34.0)+10.0)*x);
			}
		
			float permute(float x) {
				return mod289(((x*34.0)+10.0)*x);
			}
		
			vec4 taylorInvSqrt(vec4 r)
			{
			return 1.79284291400159 - 0.85373472095314 * r;
			}
		
			float taylorInvSqrt(float r)
			{
			return 1.79284291400159 - 0.85373472095314 * r;
			}
		
			vec4 grad4(float j, vec4 ip)
			{
			const vec4 ones = vec4(1.0, 1.0, 1.0, -1.0);
			vec4 p,s;
		
			p.xyz = floor( fract (vec3(j) * ip.xyz) * 7.0) * ip.z - 1.0;
			p.w = 1.5 - dot(abs(p.xyz), ones.xyz);
			s = vec4(lessThan(p, vec4(0.0)));
			p.xyz = p.xyz + (s.xyz*2.0 - 1.0) * s.www; 
		
			return p;
			}
									
			// (sqrt(5) - 1)/4 = F4, used once below
			#define F4 0.309016994374947451
		
			float snoise(vec4 v)
			{
			const vec4  C = vec4( 0.138196601125011,  // (5 - sqrt(5))/20  G4
									0.276393202250021,  // 2 * G4
									0.414589803375032,  // 3 * G4
								-0.447213595499958); // -1 + 4 * G4
		
			// First corner
			vec4 i  = floor(v + dot(v, vec4(F4)) );
			vec4 x0 = v -   i + dot(i, C.xxxx);
		
			// Other corners
		
			// Rank sorting originally contributed by Bill Licea-Kane, AMD (formerly ATI)
			vec4 i0;
			vec3 isX = step( x0.yzw, x0.xxx );
			vec3 isYZ = step( x0.zww, x0.yyz );
			//  i0.x = dot( isX, vec3( 1.0 ) );
			i0.x = isX.x + isX.y + isX.z;
			i0.yzw = 1.0 - isX;
			//  i0.y += dot( isYZ.xy, vec2( 1.0 ) );
			i0.y += isYZ.x + isYZ.y;
			i0.zw += 1.0 - isYZ.xy;
			i0.z += isYZ.z;
			i0.w += 1.0 - isYZ.z;
		
			// i0 now contains the unique values 0,1,2,3 in each channel
			vec4 i3 = clamp( i0, 0.0, 1.0 );
			vec4 i2 = clamp( i0-1.0, 0.0, 1.0 );
			vec4 i1 = clamp( i0-2.0, 0.0, 1.0 );
		
			//  x0 = x0 - 0.0 + 0.0 * C.xxxx
			//  x1 = x0 - i1  + 1.0 * C.xxxx
			//  x2 = x0 - i2  + 2.0 * C.xxxx
			//  x3 = x0 - i3  + 3.0 * C.xxxx
			//  x4 = x0 - 1.0 + 4.0 * C.xxxx
			vec4 x1 = x0 - i1 + C.xxxx;
			vec4 x2 = x0 - i2 + C.yyyy;
			vec4 x3 = x0 - i3 + C.zzzz;
			vec4 x4 = x0 + C.wwww;
		
			// Permutations
			i = mod289(i); 
			float j0 = permute( permute( permute( permute(i.w) + i.z) + i.y) + i.x);
			vec4 j1 = permute( permute( permute( permute (
						i.w + vec4(i1.w, i2.w, i3.w, 1.0 ))
					+ i.z + vec4(i1.z, i2.z, i3.z, 1.0 ))
					+ i.y + vec4(i1.y, i2.y, i3.y, 1.0 ))
					+ i.x + vec4(i1.x, i2.x, i3.x, 1.0 ));
		
			// Gradients: 7x7x6 points over a cube, mapped onto a 4-cross polytope
			// 7*7*6 = 294, which is close to the ring size 17*17 = 289.
			vec4 ip = vec4(1.0/294.0, 1.0/49.0, 1.0/7.0, 0.0) ;
		
			vec4 p0 = grad4(j0,   ip);
			vec4 p1 = grad4(j1.x, ip);
			vec4 p2 = grad4(j1.y, ip);
			vec4 p3 = grad4(j1.z, ip);
			vec4 p4 = grad4(j1.w, ip);
		
			// Normalise gradients
			vec4 norm = taylorInvSqrt(vec4(dot(p0,p0), dot(p1,p1), dot(p2, p2), dot(p3,p3)));
			p0 *= norm.x;
			p1 *= norm.y;
			p2 *= norm.z;
			p3 *= norm.w;
			p4 *= taylorInvSqrt(dot(p4,p4));
		
			// Mix contributions from the five corners
			vec3 m0 = max(0.6 - vec3(dot(x0,x0), dot(x1,x1), dot(x2,x2)), 0.0);
			vec2 m1 = max(0.6 - vec2(dot(x3,x3), dot(x4,x4)            ), 0.0);
			m0 = m0 * m0;
			m1 = m1 * m1;
			return 49.0 * ( dot(m0*m0, vec3( dot( p0, x0 ), dot( p1, x1 ), dot( p2, x2 )))
						+ dot(m1*m1, vec2( dot( p3, x3 ), dot( p4, x4 ) ) ) ) ;
		
			}
			// ******************************************************************************************************** noise above

		/* uniform float time;
		varying vec2 vUv;
		varying vec3 vPosition;
		uniform vec2 pixels;
		float PI = 3.141592653589793238; */
		varying vec2 vUv;
		uniform float time;
		varying vec3 vPosition;
		varying vec3 vNorm;
	
	
		//varying vec2 vUv;
		void main () {
			vUv = uv;
			vPosition = position;
			vNorm = normal;
			// warp sphere
			float uFrequency = 5.0;
			float uStrength = 3.0;
			float nStrength = snoise(vec4(position * uFrequency, time * 0.45)) * uStrength;
			vPosition += normal * nStrength;

			vec4 viewPos = viewMatrix * vec4(vPosition, 1.0);
	
			//gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0);
			gl_Position = projectionMatrix * viewPos;
		}
	</script>

	<script type="x-shader/x-fragment" id="fragmentShaderGlow">
		uniform float time;
		varying vec2 vUv;
		varying vec3 vPosition; 
		varying vec3 vNorm;

		vec3 brightnessToColor(float b) {
			b *= 0.25;
			return (vec3(b, b*b, b*b*b*b)/0.25)*0.8;
		}

		void main() {
			float radial = 1. - vNorm.z;
			radial *= radial * radial * radial;

			float brightness = 1.0 + radial*2.0;

			gl_FragColor.rgb = brightnessToColor(brightness)*radial;

			gl_FragColor.a = radial;

			//gl_FragColor = vec4(radial, 0., 0., 1.);
		}
	</script>

	<!-- background three.js dynamic/responsive objects script -->
	<script type="module">
		
		let camera, scene, renderer, mesh, mesh2, controls;

		let mouseX, mouseY, targetX, targetY, windowX, windowY;

		let geometry, material, uniforms, time, resolution;

		let geometry3, material3, mesh3;

		let planeGeometry, planeMaterial, plane;

		// 3d image mouse
		const cursor = {
			x: 0,
			y: 0,
			lerpX: 0,
			lerpY: 0,
		  }

		// let renderPass, composer, bloomPass;

			init();


			function init() {

				// Three.js Scene
				scene = new THREE.Scene();
				scene.name = scene;

				// Three.js Camera  (..., ..., near plane frustrum set to 43 per current sphere scroll zoom AND particles overlap, ...)
				camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 43, 1000 );
				camera.position.set(0, 0, 400);

				// orbit controls 
				// controls = new THREE.OrbitControls(camera);

				//texture loading
				const textureLoader = new THREE.TextureLoader();

				// this texture being referenced from the static folder only loads in html (not.js)
				const depthImage = textureLoader.load("{% static 'textures/mDepth2.png' %}");
				//const depthImage = textureLoader.load("{% static 'textures/FpDepthBlur2.png' %}");

				const originalImage = textureLoader.load("{% static 'textures/mountain1.png' %}");
				//const originalImage = textureLoader.load("{% static 'textures/FrankProfile1.png' %}");

				//  particle texture loading
				const star = textureLoader.load("{% static 'star/asteroid2.png' %}");
				star.rotation = 0.3;


				// Lightning ambient (x, 3'intensity')
				/*
				const ambientLight = new THREE.AmbientLight(0x404040, 1);
				//ambientLight.position.set(1,1,1);

				scene.add(ambientLight);

				// Light directional Top (gold : 0xC95500) (red : 0xaa1000)
				const Light = new THREE.DirectionalLight(0xaa1000, 8);
				Light.position.set(90,90,70);

				scene.add(Light);

				// Light directional Bottom  (purple : 0x050055) (blue : 0x001030)
				const Light2 = new THREE.DirectionalLight(0x001030, 20);
				Light2.position.set(-90,-90,20);

				scene.add(Light2);

				//const pointLightHelper = new THREE.PointLightHelper(pointLight, 1);
				//scene.add(pointLightHelper);

				*/

				//const geometry = new THREE.DodecahedronGeometry(180, 2);
				//const geometry = new THREE.IcosahedronGeometry(180, 2);
				geometry = new THREE.SphereBufferGeometry(280, 100, 150);

				// sun outer glow geo
				geometry3 = new THREE.SphereBufferGeometry(315, 100, 8);

				// Material (normal texture)
				/*const material = new THREE.MeshStandardMaterial();
				material.metalness = 0.7;
				material.roughness = 0.2;
				material.flatShading = true;
				material.needsUpdate = true;
				material.normalMap = normalTexture;
				material.color = new THREE.Color(0x292929);  */

				// Material (Shaders)
				time = 1.0;
				material = new THREE.ShaderMaterial( {
					// THREE.Doubleside causes noticable performance drop **********
					//side: THREE.DoubleSide, 
					//side: THREE.BackSide,

					uniforms: {
						/*globeTexture: { 
							value: new THREE.TextureLoader().load("{% static 'textures/NormalMap5.png' %}")
						}, */
						time: {
							value: 1.0
						}
					}, 
				
					vertexShader: document.getElementById( 'vertexShader' ).textContent,
					//vertexShader: "{% static 'shaders/vertex.glsl' %}",

					fragmentShader: document.getElementById( 'fragmentShader' ).textContent,
					//fragmentShader: "{% static 'shaders/fragment.glsl' %}",
				
				} ); 

				// sun outer glow mat
				material3 = new THREE.ShaderMaterial( {
					
					side: THREE.BackSide,

					uniforms: {
						time: {
							value: 1.0
						}
					}, 
				
					vertexShader: document.getElementById( 'vertexShaderGlow' ).textContent,

					fragmentShader: document.getElementById( 'fragmentShaderGlow' ).textContent,
				
				} ); 

				// sun glow mesh
				mesh3 = new THREE.Mesh(geometry3, material3);

				// Mesh
				mesh = new THREE.Mesh(geometry, material);
				scene.add(mesh);

				scene.add(mesh3);


				//second object 

				//const geometry2 = new THREE.BoxGeometry(430, 430, 430);
				//const material2 = new THREE.MeshStandardMaterial({ 
				//	color: "red",
				//	wireframe: true,
				//});

				//mesh2 = new THREE.Mesh(geometry2, material2);
				//mesh2.position.set(0,0,0);
				//scene.add(mesh2);

				// 3d card Geo, Mat, Mesh
				planeGeometry = new THREE.PlaneBufferGeometry(67.2 * 0.5, 93.6 * 0.5);
				//planeGeometry = new THREE.PlaneBufferGeometry(512 *0.25, 361 *0.25);
				//planeGeometry = new THREE.CircleBufferGeometry(512 *0.15, 80);

				planeMaterial = new THREE.ShaderMaterial({
					uniforms: {
						originalTexture: { value: originalImage },
						depthTexture: { value: depthImage },
						uMouse: { value: new THREE.Vector2(0, 0) },
						//uThreshold: { value: new THREE.Vector2(20. * 0.85, 35. * 0.85) },
						uThreshold: { value: new THREE.Vector2(20. * 1.2, 35. * 1.2) },
					},
					fragmentShader: `
						precision mediump float;
						uniform sampler2D originalTexture; 
						uniform sampler2D depthTexture; 
						uniform vec2 uMouse;
						uniform vec2 uThreshold;

						varying vec2 vUv;

						vec2 mirrored(vec2 v) {
							vec2 m = mod(v,2.);
							return mix(m,2.0 - m, step(1.0 ,m));
						}

						void main() {
							vec4 depthMap = texture2D(depthTexture, mirrored(vUv));
							vec2 fake3d = vec2(vUv.x + (depthMap.r - 0.5) * uMouse.x / uThreshold.x, vUv.y + (depthMap.r - 0.5) * uMouse.y / uThreshold.y);

							gl_FragColor = texture2D(originalTexture,mirrored(fake3d));
						}
					`,
					vertexShader: `
						varying vec2 vUv; 

						void main() {
							vUv = uv; 

							vec4 modelViewPosition = modelViewMatrix * vec4(position, 1.0);
							gl_Position = projectionMatrix * modelViewPosition; 
						}
					`,
				});
				planeMaterial.transparent = true;
				planeMaterial.opacity = 0.75;

				plane = new THREE.Mesh(planeGeometry, planeMaterial);

				plane.name = "plane1";

				scene.add(plane);

				plane.position.x = -32;
				plane.position.y = -1;
				plane.position.z = 455;
				plane.rotateZ(0.05);

				// **************************

				// Other small stars object
				// Particles geometry
				const dotGeometry = new THREE.BufferGeometry();
				// particle count
				const dotsCnt = 5000;
				//const posArray = new Float32Array(dotCnt * 3);  ***Old attempt***

				const vertices = [];

				for ( let i = 0; i < dotsCnt; i ++) {

					// randFloatSpread is +/- half the input spread (points spread volume)
					const x = THREE.MathUtils.randFloatSpread( 1000 );
					const y = THREE.MathUtils.randFloatSpread( 1000 );
					const z = THREE.MathUtils.randFloatSpread( 1000 );

					vertices.push( x, y, z );
				}
			
				// ***old attempt***
				//for (let i = 0; i < dotCnt * 3; i++) {
				//	posArray[i] = (Math.random() - 0.5) * 5,
				//};

				dotGeometry.setAttribute('position', new THREE.Float32BufferAttribute(vertices, 3));

				const dotMaterial = new THREE.PointsMaterial({
					size: 2.0,
					//color: 0xddc0ff,
					color: 0xffffff,
					map: star,
					transparent: true,
				});

				mesh2 = new THREE.Points(dotGeometry, dotMaterial);
				scene.add(mesh2);


				// Renderer
				renderer = new THREE.WebGLRenderer( { 
					canvas: document.querySelector('#bg'),
					antialias: true, 
					alpha: true,
				} );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				camera.position.setZ(500);
				document.body.appendChild( renderer.domElement );

				// post-processing effects setup
				/* composer = new EffectComposer(renderer);

				renderPass = new RenderPass(scene, camera);
				composer.addPass(renderPass);

				bloomPass = new UnrealBloomPass(new THREE.Vector2(w, h), 5.0, 0, 0);
				composer.addPass(bloomPass); */


				
				window.addEventListener( 'resize', onWindowResize );


				// // dynamic mouse orientation Initialized
				document.addEventListener('mousemove', onDocumentMouseMove);
				document.addEventListener('mouseout', onDocumentMouseOut);
				mouseX = 0;
				mouseY = 0;
				targetX = 0;
				targetY = 0;
				windowX = window.innerWidth / 2;
				windowY = window.innerHeight / 2;
			}

			// scroll object ZOOM browser event listener
			window.addEventListener( 'scroll', throttle(updateSphere, 0), false);

			// throttle function for scroll
			function throttle(fn, wait) {
				var time1 = Date.now();
				return function() {
				  if ((time1 + wait - Date.now()) < 0) {
					fn();
					time1 = Date.now();
				  }
				}
			  } 
			// throttled scroll listener for img hover
			//window.addEventListener('scroll', throttle(hover, 2000));

			// nav bar dynamic on scroll
			const nav = document.querySelector("header.nav");
			//const footer = document.querySelector("footer.footer");
			let lastScrollY = window.scrollY;

			// scroll function to zoom Object main
			var lastScrollTop = window.pageYOffset || document.documentElement.scrollTop;

			// scroll function to zoom Object main
			function updateSphere(event) {

				var st = window.pageYOffset || document.documentElement.scrollTop;
				// lastScrollTop && mesh.position.z < 140
				// camera.position.set(0, 0, 400);
				if (st > lastScrollTop && camera.position.z > 365){
					//camera.position.z += -1.0;
					//mesh.position.z += 1.5;
					//mesh3.position.z += 1.5;
					lastScrollTop = st <= 0 ? 0 : st;

					audioFire.volume += (0.00008);
					audioSun.volume += (0.0010);
				}
				// lastScrollTop && mesh.position.z > 0
				else if (st < lastScrollTop && camera.position.z < 500) {
					camera.position.z += 1.0;
					//mesh.position.z += window.scrollY * -.0007;
					//mesh.position.z += -1.5;
					//mesh3.position.z += -1.5;
					lastScrollTop = st <= 0 ? 0 : st;

					audioFire.volume -= (0.00008);
					audioSun.volume -= (0.0010);
				}
				else {
					lastScrollTop = st <= 0 ? 0 : st;
					
				}

				// nav bar dynamic on scroll
                /*
				if (lastScrollY < window.scrollY) {
					nav.style.top = "-9.375rem";
					//footer.style.bottom = "-6.25rem";
				}
				else {
					nav.style.top = "0";
					//footer.style.bottom = "0";
				} */
				
				lastScrollY = window.scrollY;

				return;
			}

			// 3d image clock
			const clock = new THREE.Clock();

			// dynamic mouse movement interaction Function					
			function onDocumentMouseMove(event) {

				mouseX = (event.clientX - windowX);
				mouseY = (event.clientY - windowY);
				cursor.x = event.clientX / windowX - 0.5;
  				cursor.y = event.clientY / windowY - 0.5;
			}

			// dynamic mouse movement interaction Function					
			function onDocumentMouseOut(event) {
				cursor.x = 0;
  				cursor.y = 0;
			}
			
			// dynamic window resizing
			function onWindowResize() {

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.setPixelRatio( window.devicePixelRatio );

			}

			// 3d image clock
			let previousTime = 0;

			// Animation
			function animate() {
				
				// dynamic mouse movement interaction (keep rotation.z for constant movement)
				targetX = mouseX * .001;
				targetY = mouseY * .001;
				// 4 Mesh rotations temporary off for shader tests
				//mesh.rotation.x += .003 * (targetY - mesh.rotation.x);
				//mesh.rotation.y += .003 * (targetX - mesh.rotation.y);

				mesh2.rotation.x += .011 * (targetY - mesh2.rotation.x);
				mesh2.rotation.y += .011 * (targetX - mesh2.rotation.y);

				// 3d image parallaxing 
				const elapsedTime = clock.getElapsedTime();
				const deltaTime = elapsedTime - previousTime;
				previousTime = elapsedTime;

				//const parallaxX = cursor.x * 0.5;
  				//const parallaxY = - cursor.y * 0.5;

				// Temp set to consisten and NOT mouse move
				//cursor.lerpX  += (parallaxX - cursor.lerpX ) * 5 * deltaTime;
				//cursor.lerpY += (parallaxY - cursor.lerpY) * 5 * deltaTime;
				// * speed , * tolerance 
				cursor.lerpX  = Math.sin(elapsedTime*0.7) * 0.6;
				//cursor.lerpY = Math.sin(elapsedTime*0.9) * 0.7;   ***************
				cursor.lerpY = Math.sin(elapsedTime*1.1) * 0.4;

				// 3d image positioning values
				planeMaterial.uniforms.uMouse.value = new THREE.Vector2(cursor.lerpX , cursor.lerpY);

				// Mesh (sun) static movement (diable x/y when mouse move on)
				//mesh.rotation.x += 0.0005;
				//mesh.rotation.y += 0.0009;
				//mesh.rotation.z -= 0.0003;

				//mesh3.rotation.z -= 2.0;

				// Mesh 2 (asteroids) static movement best (rotate z)
				//mesh2.rotation.y += 0.003;
				//mesh2.rotation.x += 0.0005;
				mesh2.rotation.z -= 0.0009;

				//shader updates
				time += 0.05;
				material.uniforms.time.value = time;
				material3.uniforms.time.value = time;

				renderer.render(scene, camera);
				//composer.render();

				requestAnimationFrame(animate);

				

			}

			animate();

	</script>

	<!--  new javascript object api search   -->
	<script>

		//audio file script 
		const audioFire = new Audio("{% static 'fire3.ogg' %}");
		audioFire.volume = (0.005);
		audioFire.autoplay = true;
		audioFire.muted = true;
		audioFire.loop = true; 

		const audioSun = new Audio("{% static 'sun5.ogg' %}");
		audioSun.volume = (0.1);
		audioSun.autoplay = true;
		audioSun.muted = true;
		audioSun.loop = true;

	</script>

	<div id="about">
		<div class="hidden2">
            <div class="hidden2 child"> <h4>
            Hey, I'm Frank.  I love going through the cards of new and older "<a href="https://en.wikipedia.org/wiki/Magic:_The_Gathering">Magic: The Gathering</a>" sets.  I built this site to make that visually more enjoyable.
            </h4> </div>
            <div class="hidden2 child"> <p>
            The background was inspired by one of the newer sets at the time "Unfinity," a humorous set of cards with a space theme.
            <br>
            (The "Mountain" card from the Unfinity set is pictured to the left.)
            </p> </div>
            <div class="hidden2 child"> <p>
            I enjoy the interesting card abilities, amazing style/art of the cards, and always want an up-close and detailed look at them if possible.  To help accomplish this, Cardboard in Space utilizes the "Scryfall.com" API to fetch the desired card image data from <a href="https://www.technologyreview.com/2019/05/07/135482/magic-the-gathering-is-officially-the-worlds-most-complex-game/">over 20,000 cards</a>.
            </p> </div>
            <div class="hidden2 child"> <p>
            This was my first larger project after starting to learn programming and web development in 2022.
            This site uses:
            <br>Javascript, HTML, CSS, Django, Python, Three.js, JQuery, and the Scryfall.com API.
            </p> </div>
            <div class="hidden2 child">
            <i class="devicon-javascript-plain"></i> <i class="devicon-html5-plain-wordmark"></i> <i class="devicon-css3-plain-wordmark"></i> <i class="devicon-django-plain-wordmark"></i> <i class="devicon-python-plain-wordmark"></i> <i class="devicon-threejs-original-wordmark"></i> <i class="devicon-jquery-plain-wordmark"></i> <img class="logo" src="{% static 'scryfall-logo1.png' %}">
            </p> </div>
		</div>
	</div>
	<!-- script for text fade in-->
	<script>
		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
			console.log(entry)
			if (entry.isIntersecting) {
				entry.target.classList.add('show');
			} else {
				entry.target.classList.remove('show');
			}
			});
		});

		const hiddenElements = document.querySelectorAll('.hidden2');
		hiddenElements.forEach((el) => observer.observe(el));
		
	</script>

	</main>
	</body>

	<footer class="footer">
		<div id="dis">
		<span class="foot">Cardboard in Space code/design &copy; 2022 Frank Alarcon.</span>
		<br>	
		Cardboard in Space is unofficial Fan Content permitted under the Fan Content Policy.
		<br> 
		Not approved/endorsed by Wizards. Portions of the materials used are property of Wizards of the Coast. 
		©Wizards of the Coast LLC.
		</div>
		<div id="links">
			<ul>
				<li><a data-page="home" href="{% url 'test' %}">Home</a></li>
				<li><a data-page="about" href="{% url 'about' %}">About</a></li>
				<li><a data-page="contact" href="{% url 'contact' %}">Contact</a></li>
			</ul>
		</div>
	</footer>
</html>