<!-- load static folder for .js and images -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
		
        <!-- favicon image -->
        <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>

		<!-- style.css file -->
        <link rel="stylesheet" type="text/css"  media="screen" href="{% static 'style.css' %}"/>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cards</title>
    </head>

    <body id="body">

		<!-- sticky navigation bar -->
		<header>
			<nav>
				<h1 class="title">Frank's Code</h1>
				<ul>
					<li><a data-page="home" href="{% url 'index' %}">Home</a></li>
					<li><a data-page="project" href="{% url 'index' %}">Projects</a></li>
					<li><a data-page="contact" href="{% url 'contact' %}">Contact</a></li>
					<button id="hide">Background</button>
				</ul>
			</nav>
			<!-- Hide/unhide background-->
			<script>
				document.addEventListener('DOMContentLoaded', function() {
	
					// name search example :  https://api.scryfall.com/cards/named?exact=doom+blade
	
					document.querySelector('button').onclick = () => {
							// hide/unhide canvas
							let x = document.getElementById("bg");
							let y = document.getElementById("body");
							if (x.style.display == "none") {
								x.style.display = "block";
								y.style.backgroundImage = 'url("{% static 'stars.jpg' %}")';
							}
							else {
								x.style.display = "none";
								y.style.backgroundImage = "none";
							}
						}
					});
			</script>
		</header>

		<canvas id="bg"></canvas>

		
		<!-- base three.js files -->
        <script type="module" src="{% static 'three/three.js' %}"></script>

		<!-- (three) js for object 1 
		<script type="module" src="{% static 'object1.js' %}"></script> -->

		<!-- Orbit camera around objects (not currently used)
		<script type="module" src="{% static 'three/OrbitControls.js' %}"></script> -->

		<!-- background three.js dynamic/responsive objects script -->
		<script type="module">
			
			let camera, scene, renderer, mesh, mesh2;

			let mouseX, mouseY, targetX, targetY, windowX, windowY;

				init();


				function init() {

					// Three.js Scene
					scene = new THREE.Scene();
 
					// Three.js Camera  (..., ..., near plane frustrum set to 43 per current sphere scroll zoom AND particles overlap, ...)
					camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 43, 1000 );
					camera.position.set(0, 0, 400);

					//texture loading
 					const textureLoader = new THREE.TextureLoader();

					// this texture being referenced from the static folder only loads in html (not.js)
					const normalTexture = textureLoader.load("{% static 'textures/NormalMap5.png' %}");

					//  particle texture loading
					const star = textureLoader.load("{% static 'star/star-purple.png' %}");


					// Lightning ambient (x, 3'intensity')
					const ambientLight = new THREE.AmbientLight(0x404040, 3);
					//ambientLight.position.set(1,1,1);
	
					scene.add(ambientLight);

					// Light directional Top
					const Light = new THREE.DirectionalLight(0xC95500, 8);
					Light.position.set(90,90,50);

					scene.add(Light);

					// Light directional Bottom
					const Light2 = new THREE.DirectionalLight(0x050055, 20);
					Light2.position.set(-90,-90,50);

					scene.add(Light2);
	
					//const pointLightHelper = new THREE.PointLightHelper(pointLight, 1);
					//scene.add(pointLightHelper);


					//const geometry = new THREE.DodecahedronGeometry(180, 2);
					//const geometry = new THREE.IcosahedronGeometry(180, 2);
					const geometry = new THREE.SphereGeometry(280, 100, 100);

					// Material
					const material = new THREE.MeshStandardMaterial();
					material.metalness = 0.7;
					material.roughness = 0.2;
					material.flatShading = true;
					material.needsUpdate = true;
					material.normalMap = normalTexture;
					material.color = new THREE.Color(0x292929);

					// Mesh
					mesh = new THREE.Mesh(geometry, material);
					scene.add(mesh);
					

					//second object 

					//const geometry2 = new THREE.BoxGeometry(430, 430, 430);
					//const material2 = new THREE.MeshStandardMaterial({ 
                    //	color: "red",
                    //	wireframe: true,
                	//});

					//mesh2 = new THREE.Mesh(geometry2, material2);
					//mesh2.position.set(0,0,0);
					//scene.add(mesh2);


					// **************************

					// Other 2nd object
					// Particles geometry
					const dotGeometry = new THREE.BufferGeometry();
					// particle count
					const dotsCnt = 5000;
					//const posArray = new Float32Array(dotCnt * 3);  ***Old attempt***

					const vertices = [];

					for ( let i = 0; i < dotsCnt; i ++) {

						// randFloatSpread is +/- half the input spread (points spread volume)
						const x = THREE.MathUtils.randFloatSpread( 1000 );
						const y = THREE.MathUtils.randFloatSpread( 1000 );
						const z = THREE.MathUtils.randFloatSpread( 1000 );

						vertices.push( x, y, z );
					}
				
					// ***old attempt***
					//for (let i = 0; i < dotCnt * 3; i++) {
					//	posArray[i] = (Math.random() - 0.5) * 5,
					//};

					dotGeometry.setAttribute('position', new THREE.Float32BufferAttribute(vertices, 3));

					const dotMaterial = new THREE.PointsMaterial({
						size: 1.5,
						//color: 0xddc0ff,
						color: 0xffffff,
						map: star,
						transparent: true,
					});

					mesh2 = new THREE.Points(dotGeometry, dotMaterial);
					scene.add(mesh2);


					// Renderer
					renderer = new THREE.WebGLRenderer( { 
						canvas: document.querySelector('#bg'),
						antialias: true, 
						alpha: true,
					} );
					renderer.setPixelRatio( window.devicePixelRatio );
					renderer.setSize( window.innerWidth, window.innerHeight );
					camera.position.setZ(500);
					document.body.appendChild( renderer.domElement );

					window.addEventListener( 'resize', onWindowResize );


					// // dynamic mouse orientation Initialized
					document.addEventListener('mousemove', onDocumentMouseMove);
					mouseX = 0;
					mouseY = 0;
					targetX = 0;
					targetY = 0;
					windowX = window.innerWidth / 2;
					windowY = window.innerHeight / 2;
				}

				// scroll object ZOOM browser event listener
				window.addEventListener( 'scroll', updateSphere, false);

				var lastScrollTop = window.pageYOffset || document.documentElement.scrollTop;

				// scroll function to zoom Object main
				function updateSphere(event) {

					var st = window.pageYOffset || document.documentElement.scrollTop;
						// (st > lastScrollTop && mesh.position.z < 170)
					if (st > lastScrollTop && mesh.position.z < 150){
						mesh.position.z += 1;
						lastScrollTop = st <= 0 ? 0 : st;
					}
					else if (st < lastScrollTop && mesh.position.z > -100) {
						//mesh.position.z += window.scrollY * -.0007;
						mesh.position.z += -1;
						lastScrollTop = st <= 0 ? 0 : st;
				 	}
					else {
						lastScrollTop = st <= 0 ? 0 : st;
						return;
					}
				}

				// dynamic mouse movement interaction Function					
				function onDocumentMouseMove(event) {

					mouseX = (event.clientX - windowX);
					mouseY = (event.clientY - windowY);
				}
				
				// dynamic window resizing
				function onWindowResize() {

					camera.aspect = window.innerWidth / window.innerHeight;
					camera.updateProjectionMatrix();

					renderer.setSize( window.innerWidth, window.innerHeight );
					renderer.setPixelRatio( window.devicePixelRatio );

				}

				// Animation
				function animate() {
					
					// dynamic mouse movement interaction (keep rotation.z for constant movement)
					targetX = mouseX * .001;
					targetY = mouseY * .001;
					mesh.rotation.x += .01 * (targetY - mesh.rotation.x);
					mesh.rotation.y += .01 * (targetX - mesh.rotation.y);

					mesh2.rotation.x += .05 * (targetY - mesh2.rotation.x);
					mesh2.rotation.y += .05 * (targetX - mesh2.rotation.y);

					// Mesh
					//mesh.rotation.x += 0.003;
					//mesh.rotation.y += 0.002;
					mesh.rotation.z += 0.001;

					// Mesh 2  best (rotate z)
					//mesh2.rotation.y += 0.002;
					//mesh2.rotation.x += 0.005;
					mesh2.rotation.z += 0.0004;

					renderer.render(scene, camera);

					requestAnimationFrame(animate);

				}

				animate();

		</script>
        
		
        <main>
        {% block body %}
        {% endblock %}
        </main>

	</body>
</html>